{% extends 'my_blog/base.html' %}
{% load static %}


{% block content %}

  <div class="page-title lb single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 hidden-xs-down hidden-sm-down">

                {% comment %} Form for Search {% endcomment %}

                <form action="{% url 'posts' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" placeholder="Search" name="search">
                    <input type="submit" value="Submit" name="btnform1">
                </form>

                <hr>

                {% comment %} Form for View Search {% endcomment %}

                <form action="{% url 'posts' %}" method="POST"> 
                    {% csrf_token %}

                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Minimum View:
                            <input type="text" placeholder="0" name="view_min">
                            <br>
                            <br>
                        </li>

                        <li class="breadcrumb-item">
                            Maximum View:
                            <input type="text" placeholder="100000" name="view_max">
                            <br>
                            <br>
                        </li>

                        <li class="breadcrumb-item active">
                            <input type="submit" value="Search" name="btnform2">
                        </li>
                    </ol>

                </form>

                <hr>

                {% comment %} Form for Date Search {% endcomment %}

                <form action="{% url 'posts' %}" method="POST">
                    {% csrf_token %}

                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            Publish Date Minimum:
                            <input type="date" name="date_min">
                            <br>
                        </li>

                        <li class="breadcrumb-item">
                            Publish Date Maximum:
                            <input type="date" name="date_max">
                            <br>
                        </li>
                        
                        <li class="breadcrumb-item">
                            <input type="submit" value="Search" name="btnform3">
                        </li>
                      
                    </ol>
                   
                </form>
  
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end page-title --> 





  <section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-list clearfix">

                        {% if search %}

                            <h1>You searched for "{{search}}"</h1>

                            {% for post in searched_posts %}
        
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="{% url 'post_detail' post.slug%}" title="">
                                                <img src="{% static 'my_blog/images/'|add:post.image_name %}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="{% url 'post_detail' post.slug%}" title="">{{post.title}}</a></h4>
                                        <p>{{post.summary}}</p>
                                        <small>{{post.date}}</small>
                                        <small>{{post.author}}</small>
                                        <small><i class="fa fa-eye"></i> {{post.views}}</small>
                                    </div><!-- end meta -->
                                    </div><!-- end blog-box -->

                                    <hr class="invis">

                            {% endfor %}


                        {% elif filtered_posts  %} 

                            <h1>Searched from date "{{date_min}}" to "{{date_max}}" </h1>

                            {% for post in filtered_posts%}

                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="{% url 'post_detail' post.slug%}" title="">
                                                <img src="{% static 'my_blog/images/'|add:post.image_name %}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="{% url 'post_detail' post.slug%}" title="">{{post.title}}</a></h4>
                                        <p>{{post.summary}}</p>
                                        <small>{{post.date}}</small>
                                        <small>{{post.author}}</small>
                                        <small><i class="fa fa-eye"></i> {{post.views}}</small>
                                    </div><!-- end meta -->
                                    </div><!-- end blog-box -->

                                    <hr class="invis">

                            {% endfor %}


                        {% elif filtered_views_posts %}

                            <h1>Searched for views between {{view_min}} to {{view_max}}</h1>
                        
                            {% for post in filtered_views_posts%}

                            <div class="blog-box row">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="{% url 'post_detail' post.slug%}" title="">
                                            <img src="{% static 'my_blog/images/'|add:post.image_name %}" alt="" class="img-fluid">
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="blog-meta big-meta col-md-8">
                                    <h4><a href="{% url 'post_detail' post.slug%}" title="">{{post.title}}</a></h4>
                                    <p>{{post.summary}}</p>
                                    <small>{{post.date}}</small>
                                    <small>{{post.author}}</small>
                                    <small><i class="fa fa-eye"></i> {{post.views}}</small>
                                </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                        {% endfor %}



                        {% else %}

                            <h1>Latest Posts:</h1>
                        
                            {% for post in posts %}
    
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="{% url 'post_detail' post.slug%}" title="">
                                                <img src="{% static 'my_blog/images/'|add:post.image_name %}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->
        
                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="{% url 'post_detail' post.slug%}" title="">{{post.title}}</a></h4>
                                        <p>{{post.summary}}</p>
                                        <small>{{post.date}}</small>
                                        <small>{{post.author}}</small>
                                        <small><i class="fa fa-eye"></i> {{post.views}}</small>
                                    </div><!-- end meta -->
                                    </div><!-- end blog-box -->
        
                                    <hr class="invis">
    
                            {% endfor %}
                            
                        {% endif %}


                        
                    </div><!-- end blog-list -->
                </div><!-- end page-wrapper -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-start">

                                {% if paginator_posts.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{paginator_posts.previous_page_number}}">Previous</a>
                                </li>
                                {% endif %}

                                {% for num in paginator_posts.paginator.page_range %}
                                    <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                                {% endfor %}
          
                                {% if paginator_posts.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{paginator_posts.next_page_number}}">Next</a>
                                </li>
                                {% endif %}
                                

                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                  <div class="widget">
                    <h2 class="widget-title">Popular Posts</h2>
                    <div class="blog-list-widget">
                        <div class="list-group">

                            {% for post in latest_posts %}

                                <a href="{% url 'post_detail' post.slug%}" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 last-item justify-content-between">
                                        <img src="{% static 'my_blog/images/'|add:post.image_name %}" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">{{post.title}}</h5>
                                        <small>{{post.date}}</small>
                                    </div>
                                </a>
                            
                            {% endfor %}
                          
                        </div>
                    </div><!-- end blog-list -->
                </div><!-- end widget -->

                <hr>

                <div class="widget">
                  <h2 class="widget-title">Recent Posts</h2>
                  <div class="blog-list-widget">
                      <div class="list-group">

                          {% for post in latest_posts %}

                              <a href="{% url 'post_detail' post.slug%}" class="list-group-item list-group-item-action flex-column align-items-start">
                                  <div class="w-100 last-item justify-content-between">
                                      <img src="{% static 'my_blog/images/'|add:post.image_name %}" alt="" class="img-fluid float-left">
                                      <h5 class="mb-1">{{post.title}}</h5>
                                      <small>{{post.date}}</small>
                                  </div>
                              </a>
                          
                          {% endfor %}

                        
                      </div>
                  </div><!-- end blog-list -->
              </div><!-- end widget -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
  </section>


{% endblock content %}